<div class="container-fluid outside-footer">
<div id="footers">
<svg class="footer-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 100" preserveAspectRatio="none">
        <path class="footer-wave-path" d="M851.8,100c125,0,288.3-45,348.2-64V0H0v44c3.7-1,7.3-1.9,11-2.9C80.7,22,151.7,10.8,223.5,6.3C276.7,2.9,330,4,383,9.8 c52.2,5.7,103.3,16.2,153.4,32.8C623.9,71.3,726.8,100,851.8,100z"></path>
   </svg>
    <div class="row">
      <div class="col-sm-6">
        <ul class="footer-links">
			<span id="copyright">
<div class="footers">
		<div class="float_right">
			<span id="copyright">
			<p class="footer-row">
			<span class="footer-copyright">{{ CREDIT_LINE }}</span>
		</span></p></div><!-- IF TRANSLATION_INFO --><span class="footer-copyright">{{ TRANSLATION_INFO }}</span><!-- ENDIF -->
		<p class="footer-row">
			<span class="footer-copyright">Style Developed By <a href="https://phpbb-bg.info/" target="_blank"><img style="margin-bottom:7px;" src="https://phpbb-bg.info/forums/styles/prosilver/theme/images/favi/favicon-16x16.png">PHPBB-BG.INFO</a></span>
		</p>
	</div>
</span></ul></div>
</div>

</div></div>